<ion-view id="page14" title="Grafica">
  <ion-content class="has-header" padding="true">
    
    <canvas id="chartMQTT" class="chart chart-line" chart-data="data" chart-labels="labels"
      chart-options="options"></canvas>

    <!--div id="container" style="min-width: 100%;
                  height: 400px;
                  margin: 0 auto">
    </div-->

    <div class="list">
      <button style="width: 100%;" ng-click="notify()" class="button button-large button-clear flat
                         waves-effect waves-button waves-light
                         icon ion-android-notifications-none pull-right text-white">
        Notificar
      </button>
    </div>


  </ion-content>
</ion-view>