<ion-view id="page14" title="Grafica">
  <ion-content class="has-header" padding="true">
   
  <h1>{{element}}</h1>


  <div ng-switch="element">
    <div ng-switch-when="line">
       <div id="chartMQTTL">
      </div>
    </div>
    <div ng-switch-when="pie">
       <div id="chartMQTT">
         
       </div>
    </div>
    <div ng-switch-when="meter">
       <div id="chartMQTTM">
         
       </div>
    </div>
    <div ng-switch-when="switch">
      <!--Solo se mostrará si el elemento es switch -->
      <div class='onoffswitch' ng-click="notifyOnOff()">
            <input type='checkbox' name='onoffswitch' class='onoffswitch-checkbox' id='myswitch' >
            <label class='onoffswitch-label' for='myswitch'>
            <span class='onoffswitch-inner'></span>
            <span class='onoffswitch-switch'></span>
            </label>
      </div>
      <!--Solo se mostrará si el elemento es switch -->
    </div>
    <div ng-switch-when="message">
       <div id="chartMQTTMMS"></div>
    </div>
    <div ng-switch-default>
       <p>No se encontró ninguna grafica, vuelve a intentarlo</p>
    </div>
  </div>
   

    <div class="list list-bell">
      <div style="width: 100%;" ng-click="notify()">
        <img src="../img/bell.png" width="50px">
        Notificar
      </div>
    </div>


  </ion-content>
</ion-view>